<header>
  <div class="navbar bg-primary shadow-sm">
    <div class="navbar-brand align-item-centre d-flex">
      <i style="font-size: 40px; color: white" class="fas fa-shipping-fast"  routerLink="/home">&nbsp;

      </i>
      <strong style="font-size: 30px; color:white" routerLink="/home">Shop For Home</strong>

      <div class="formgroup">
        <input type="text" class="form-control" placeholder="Search Products">
        <span class="fas fa-search search-icon" style="margin-right: 10px;"></span>
      </div>
    </div>

    <button *ngIf="!confirmRole() && isLoggedIn()" routerLink="login" class="btn btn-admin" routerLink="/admin">Go to Admin Console</button>
    <button *ngIf="!isLoggedIn()" routerLink="login" style="float: right; margin-right: 10%;" class="btn btn-success">Login</button>
    <button *ngIf="isLoggedIn()" routerLink="products" style="float: right; margin-right: 10%;" class="btn btn-danger" (click)="logout()">Log out</button>

    <button routerLink="wishlist" class="btn btn-primary" *ngIf="confirmRole()">
      <i style="font-size: 30px; color: white" class="fas fa-heart">
        <div style="font-size: 10px;" class="badge bg-danger">{{totalWishedItem}}</div>
      </i>
    </button>
    <button routerLink="cart" class="btn btn-primary" *ngIf="confirmRole()">
      <i style="font-size: 30px; color: white" class="fas fa-cart-plus">
        <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
      </i>
    </button>
  </div>
</header>
